:root {
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: white;
    --select-bg: rgba(255, 255, 255, 0.2);
}

.content1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
    padding-right: 25px;
    gap: 15px;
}

.text1 {
    font-size: 25px;
    font-weight: 500;
    height: 40px;
}


form.search-bar {
    margin: 0;
    padding: 0;
    background-color: #1e1f23;
    padding: 7px 7px;
    border-radius: 10px;
}

.content-results {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* background-color: aqua; */
}

.content-results .option-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    padding: 7px 5px 7px 5px;
    height: 100%;
    /* background-color: #5A5A6B; */
}

.content-results .option-group i {
    padding: 9px;
    background-color: #131416;
    border-radius: 7px;
    color: #d0d0d0;
    font-size: 1.4rem;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #000; */
    padding: 0px;
    margin: 0px;
}

.options p {
    font-size: 0.9rem;
    margin-bottom: 7px;
}

.options select {
    padding: 6px 5px;
    width: 190px;
    border: 2px solid #383b41;
    outline: none;
    border-radius: 5px;
    background-color: #1e1f23;
    color: white;
    font-size: 0.94rem;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.options select:focus,
.options select:hover {
    outline: none;
    background-color: #2C2D33;
}

.options select option {
    background-color: #2C2D33;
}

.options input {
    padding: 6px 5px;
    width: 200px;
    border: 2px solid #383b41;
    outline: none;
    border-radius: 5px;
    font-size: 0.94rem;
    background-color: #1e1f23;
    color: white;
    transition: background-color 0.2s ease-in-out;
}

.options input:focus,
.options input:hover {
    outline: none;
    background-color: #2C2D33;
}

.content-results .btn-search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.btn-search button {
    padding: 10px 18px;
    border: none;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    column-gap: 7px;
    align-items: center;
    background-color: #4f50fc;
    color: white;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.btn-search button:hover {
    background-color: #4343D9;
}

.btn-search button i {
    font-size: 1.2rem;
}

.btn-search button span {
    font-size: 0.9rem;
}

.content-return {
    flex: 1;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    max-height: 74vh;
}

.content-cards-r {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    overflow: auto;
    /* background-color: #4f50fc; */
}

.content-return .content-list {
    display: flex;
    flex-direction: column;
    padding: 10px 15px 10px 15px;
    width: 60%;
    background-color: #1e1f23;
    border-radius: 10px;
    height: 100%;
}

.content-list section {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.content-date-results {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid #383b41;
    border-radius: 6px;
    margin-bottom: 5px;
}

.content-date-results .title-date {
    width: 100%;
    background-color: #2a2c31;
    color: #d4d3db;
    font-weight: 500;
    padding: 8px 10px;
}

.card-results {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 12px 14px;
}


.content-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.content-right i {
    background-color: #31343B;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.3rem;
    color: #e7e8ea;
}

.card-results .content-nums {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 6px;
}

.card-results .content-nums .title-nums {
    font-size: 1rem;
    color: #9f9fa0
}

.card-results .number-result {
    font-size: 1rem;
    font-weight: 500;
}

.content-return .content-graph {
    display: flex;
    width: 40%;
    height: 100%;
    background-color: #1e1f23;
    border-radius: 10px;
    flex-direction: column;
    padding: 10px 15px 10px 15px;
}

.header-list {
    display: flex;
    padding: 5px 10px 16px 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #444444;
}

.content-return .content-list .content-graph-results {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    padding-right: 6px;
    padding-top: 7px;
}

.content-return .content-list .content-graph-results::-webkit-scrollbar {
    width: 0.5rem;
}

.content-return .content-list .content-graph-results::-webkit-scrollbar-track {
    background: #131416;
}

.content-return .content-list .content-graph-results::-webkit-scrollbar-thumb {
    background: #404557;

    border-radius: 0.2rem;
}

.content-return .content-graph .content-graph-results {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 100%;
}

.vanilla-calendar_multiple {
    width: 580px;
}

/* estilo si no hay respuesta del servidor */
.content-no-data {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    color: #d0d0d0;
    /* background-color: #383b41; */
}

.content-no-data i {
    font-size: 2rem;
}


.content-chart {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    margin-top: 10px;
    row-gap: 10px;
    /* background-color: #404557; */
}

.content-button-d button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 12px;
    background-color: #313338;
    color: #d6d6d7;
    border: 0px;
    font-weight: 500;
    border-radius: 6px;
    column-gap: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.content-button-d button:hover {
    background-color: #373D4D;
    color: white;
}

.content-button-d button i {
    font-size: 1.2rem;
}


#myChart {
    background-color: #1e1f23;
    width: 100%;
    border-radius: 10px;
    padding: 7px;
}

#customLegend {
    /* background-color: red; */
    display: flex;
    height: 100%;
    padding-left: 5px;
    /* background-color: red; */
    overflow-y: auto;
}

#customLegend::-webkit-scrollbar {
    width: 0.5rem;
}

#customLegend::-webkit-scrollbar-track {
    background: #131416;
}

#customLegend::-webkit-scrollbar-thumb {
    background: #404557;
    border-radius: 0.2rem;
}

#customLegend ul {
    max-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    column-gap: 15px;
    align-content: flex-start;
}

#customLegend ul li {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
    margin: 7px 0px;
    line-height: 12px;
    /* height: 20px; */
}

#customLegend ul li span {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

#customLegend ul li p {
    margin: 0;
    padding: 0;
    transition: 0.2s ease-in-out;
}

#customLegend ul li.fade p {
    margin: 0;
    padding: 0;
    color: rgba(102, 102, 102, 1);
}

#customLegend ul li.fade span {
    /* background-color: rgba(0, 0, 0, 0.5); */
    border-radius: 2px;
    width: 10px;
    height: 10px;
}

@media (max-height: 700px) {
    .content-return {
        max-height: 72vh;
    }
}