<?xml version="1.0" ?>
<diccionario>
    <sentimientos_positivos>
        <palabra>god</palabra>
    </sentimientos_positivos>
    <sentimientos_negativos>
        <palabra>malo</palabra>
        <palabra>pesimo</palabra>
        <palabra>triste</palabra>
        <palabra>molesto</palabra>
    </sentimientos_negativos>
    <rechazar_positivos/>
    <rechazar_negativos>
        <palabra>god</palabra>
        <palabra>enojo</palabra>
    </rechazar_negativos>
</diccionario>