{% extends "base.html" %}
{% load static %}
{% block title %}Busqueda{% endblock %}
{% block s_add %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<link href="{% static 'calendar/vanilla-calendar.min.css' %}" rel="stylesheet">
<link href="{% static 'calendar/themes/light.min.css' %}" rel="stylesheet">
<link href="{% static 'calendar/themes/dark.min.css' %}" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/@uvarov.frontend/vanilla-calendar/build/vanilla-calendar.min.js"
    defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lato-font/3.0.0/css/lato-font.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
{% endblock %}
{% block content %}
<div class="content1">
    <div class="text1">Busqueda</div>
    <form class="search-bar" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="content-results">
            <div class="option-group">
                <i class="ti ti-filter"></i>
                <div class="options">
                    <p>Buscar Por</p>
                    <select name="searchBy">
                        <option value="hashtags" selected>Hastags</option>
                        <option value="mentions">Mensiones</option>
                        <option value="sentiments">Sentimientos</option>
                    </select>
                </div>
            </div>
            <div class="option-group">
                <i class="ti ti-calendar-plus"></i>
                <div class="options">
                    <p>Rango de Fechas</p>
                    <input name="rangeDate" id="calendar-input" type="text" placeholder="Elija un rango" readonly
                        required />
                    <div id="calendar-input-div"></div>
                    <div id="calendar"></div>
                </div>
            </div>
            <div class="btn-search">
                <button type="submit"><i class="ti ti-search"></i><span>Buscar</span></button>
            </div>
        </div>
    </form>
    <div class="content-return">
        <div class="content-list">
            <h3 class="title-list">Resultados</h3>
            {% if data is not None %}
            {% if type_r == 0 %}
            <div class="content-date-results content-no-data">
                <span>No se encontraron Datos</span>
            </div>
            {% else %}
            <div class="content-graph-results">
                {% for entry in data %}
                <div class="content-date-results">
                    <!-- <span class="title-date">21/03/2023</span> -->
                    <span class="title-date">{{entry.date}}</span>
                    {% for result, value in entry.results.items %}
                    <div class="card-results">
                        <div class="content-right">
                            <i class="ti ti-hash"></i>
                            <!-- <span class="name-result">Usuario 1</span> -->
                            <span class="name-result">{{result}}</span>
                        </div>
                        <!-- <span class="number-result">10 mensajes</span> -->
                        <div class="content-nums">
                            <span class="title-nums">En</span>
                            <span class="number-result">{{value}}</span>
                            {% if value == 1 %}
                            <span class="title-nums">mensaje</span>
                            {% else %}
                            <span class="title-nums">mensajes</span>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% else %}
            <div class="content-no-data">
                <i class="ti ti-ban"></i>
                <span>Sin resultados Disponibles</span>
            </div>
            {% endif %}
        </div>
        <div class="content-graph">
            <h3>Gráfica</h3>

            {% if data is not None %}
            {% if type_r == 0 %}
            <div class="content-no-data">
                <span>No se encontraron Datos</span>
            </div>
            {% else %}
            <div class="content-chart">
                <div class="content-button-d">
                    <form action="">
                        <button id="savePDF" type="submit"><i class="ti ti-file-download"></i>Descargar</input>
                    </form>
                </div>
                <canvas id="myChart"></canvas>
            </div>
            {% endif %}
            {% else %}
            <div class="content-no-data">
                <i class="ti ti-ban"></i>
                <span>Sin resultados Disponibles</span>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>
<script src="{% static 'calendar/theme.js' %}"></script>
<script src="{% static 'calendar/calendar.js' %}"></script>

<script type="text/javascript">
    Chart.defaults.font.size = 15;
    Chart.defaults.font.family = "Poppins"
    var graphData = JSON.parse('{{ graph_data|escapejs }}');
    var keys = Object.keys(graphData.data_graph);
    var values = Object.values(graphData.data_graph);
    // console.log(data_graph)
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: keys,
            datasets: [{
                label: '# of Votes',
                data: values,
                backgroundColor: [
                    'rgba(209, 71, 83, 0.4)',
                    'rgba(209, 116, 82, 0.4)',
                    'rgba(140, 209, 92, 0.4)',
                    'rgba(50, 209, 178, 0.4)',
                    'rgba(202, 61, 209, 0.4)',
                ],
                hoverBackgroundColor: [
                    'rgba(209, 71, 83, 0.5)',
                    'rgba(209, 116, 82, 0.5)',
                    'rgba(140, 209, 92, 0.5)',
                    'rgba(50, 209, 178, 0.5)',
                    'rgba(202, 61, 209, 0.5)',
                ],
                borderRadius: 5
            }]
        },
        options: {
            scales: {
                x: {
                    barPercentage: 100,
                    categoryPercentage: 1,
                    border: {
                        display: false,
                        color: 'red'
                    },
                    grid: {
                        drawOnChartArea: false,
                    },
                    ticks: {
                        color: '#89898f',
                    }
                }
                ,
                y: {
                    beginAtZero: true,
                    grid: {
                        color: "#3d3d47",
                    },
                    border: {
                        dash: [5, 5],
                        display: false,
                    },
                    ticks: {
                        color: '#89898f',
                        stepSize: 1,
                    }
                },
            },
            plugins: {
                legend: {
                    display: false,
                }
            },
            responsive: true,
        }

    });
</script>

{% endblock %}