{% extends "base.html" %}
{% load static %}
{% block title %}Busqueda{% endblock %}
{% block s_add %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<link href="{% static 'calendar/vanilla-calendar.min.css' %}" rel="stylesheet">
<link href="{% static 'calendar/themes/light.min.css' %}" rel="stylesheet">
<link href="{% static 'calendar/themes/dark.min.css' %}" rel="stylesheet">
<script src="{% static 'calendar/vanilla-calendar.min.js' %}" rel="stylesheet" defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lato-font/3.0.0/css/lato-font.min.css">
{% endblock %}
{% block content %}
<div class="content">
    <div class="text">Busqueda</div>
    <div class="content-search">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="content-results">
                <div class="option-group">
                    <i class="fa-solid fa-filter"></i>
                    <div class="options">
                        <p>Buscar Por</p>
                        <select name="searchBy">
                            <option value="hashtags" selected>Hastags</option>
                            <option value="mentions">Mensiones</option>
                            <option value="sentiments">Sentimientos</option>
                        </select>
                    </div>
                </div>
                <div class="option-group">
                    <div class="content-date-ranget">
                        <i class="fa-solid fa-calendar"></i>
                        <div class="options">
                            <p>Rango de Fechas</p>
                            <input name="rangeDate" id="calendar-input" type="text" placeholder="Choose date" readonly
                                required />
                            <div id="calendar-input-div"></div>
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>
                <div class="btn-search">
                    <button type="submit">Buscar</button>
                </div>
            </div>
        </form>
        <div class="content-return">
            <div class="content-list">
                <h3 class="title-list">Resultados</h3>
                <section>

                    {% if data is not None %}
                    {% if type_r == 0 %}
                    <div class="content-date-results content-no-data">
                        <span>No se encontraron Datos</span>
                    </div>
                    {% else %}

                    {% for entry in data %}
                    <div class="content-date-results">
                        <!-- <span class="title-date">21/03/2023</span> -->
                        <span class="title-date">{{entry.date}}</span>
                        {% for result, value in entry.results.items %}
                        <div class="card-results">
                            <div class="content-right">
                                <i class="fa-regular fa-message"></i>
                                <!-- <span class="name-result">Usuario 1</span> -->
                                <span class="name-result">{{result}}</span>
                            </div>
                            <!-- <span class="number-result">10 mensajes</span> -->
                            <span class="number-result">{{value}}</span>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                </section>
            </div>
            <div class="content-graph">
                <h3>Gráfica</h3>
                <section>
                    <span>Grafica</span>
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'calendar/theme.js' %}"></script>
<script src="{% static 'calendar/calendar-from.js' %}"></script>
<script src="{% static 'calendar/calendar-to.js' %}"></script>
{% endblock %}